<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT projects ANY>
<!ATTLIST projects id ID #REQUIRED>
<!ELEMENT demo ANY>
<!ATTLIST demo id ID #REQUIRED>
<!ELEMENT demo1 ANY>
<!ATTLIST demo1 id ID #REQUIRED>
<!ELEMENT demo2 ANY>
<!ATTLIST demo2 id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
]>
<root id="-1">
  <home id="1103" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-21T11:32:17" updateDate="2017-11-24T16:08:04" nodeName="Home" urlName="home" path="-1,1103" isDoc="" nodeType="1093" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Welcome to The Land Of Brave People]]></pageTitle>
    <mediaPicker><![CDATA[umb://media/aa2c45e36ebc4b169a95e50d1707553e,umb://media/a9298e4cc56b4eb69fd12fb0748dc4f7,umb://media/8a46f117d8d6407f9f59e72f1b5d837e]]></mediaPicker>
    <mediaDemo3><![CDATA[<p><img style="width: 500px; height: 375px;" src="/media/1041/b_car.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/a1472d7ec5ab4143b1dac626319207f4" /></p>]]></mediaDemo3>
    <mediaDemo2><![CDATA[<p><img style="width: 500px; height: 375px;" src="/media/1035/hotel_porto_bay_rio_internacional_rooftop_pool_800x600.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/6c67cc30a0ba44dab7ec7433c75fcfad" /></p>]]></mediaDemo2>
    <mediaDemo1><![CDATA[<p><img style="width: 500px; height: 350.4273504273504px;" src="/media/1032/real-eagle-logo.jpg?width=500&amp;height=350.4273504273504" alt="" data-udi="umb://media/7ce3e8c0c4ff41608089726e27cf5ac6" /></p>]]></mediaDemo1>
    <projects id="1151" key="1254b1e2-2cd7-4f40-b1ed-8dc7307d8bb0" parentID="1103" level="2" creatorID="0" sortOrder="6" createDate="2017-11-21T12:05:27" updateDate="2017-11-21T12:05:27" nodeName="Projects" urlName="projects" path="-1,1103,1151" isDoc="" nodeType="1148" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1147" nodeTypeAlias="projects" isPublished="true">
      <demo id="1158" key="ac2de677-8406-45a1-acd8-1de49d72b1d1" parentID="1151" level="3" creatorID="0" sortOrder="0" createDate="2017-11-21T12:08:45" updateDate="2017-11-21T12:08:45" nodeName="Demo" urlName="demo" path="-1,1103,1151,1158" isDoc="" nodeType="1153" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1152" nodeTypeAlias="demo" isPublished="true" />
      <demo1 id="1159" key="bfe03366-276b-4697-9c9c-66b9ea8041c6" parentID="1151" level="3" creatorID="0" sortOrder="1" createDate="2017-11-21T12:08:59" updateDate="2017-11-21T12:08:59" nodeName="Demo1" urlName="demo1" path="-1,1103,1151,1159" isDoc="" nodeType="1155" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1154" nodeTypeAlias="demo1" isPublished="true" />
      <demo2 id="1160" key="a18bf905-7c4c-440d-9b0a-ed799c8a1357" parentID="1151" level="3" creatorID="0" sortOrder="2" createDate="2017-11-21T12:09:09" updateDate="2017-11-21T12:09:33" nodeName="Demo2" urlName="demo2" path="-1,1103,1151,1160" isDoc="" nodeType="1157" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1156" nodeTypeAlias="demo2" isPublished="true" />
    </projects>
    <blog id="1188" key="219cb756-7734-49a6-bdd6-f67398a33478" parentID="1103" level="2" creatorID="0" sortOrder="7" createDate="2017-11-23T16:25:53" updateDate="2017-11-23T16:50:03" nodeName="Blog" urlName="blog" path="-1,1103,1188" isDoc="" nodeType="1185" creatorName="Zellah Geofrey" writerName="Zellah Geofrey" writerID="0" template="1184" nodeTypeAlias="blog" isPublished="true">
      <pageTitle><![CDATA[Sample ]]></pageTitle>
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Three Columns",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1162,
                    "udi": "umb://media/b3652da62f784570b39e00b419e87522",
                    "image": "/media/1031/animals_hero_bald_eagle.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1172,
                    "udi": "umb://media/a1472d7ec5ab4143b1dac626319207f4",
                    "image": "/media/1041/b_car.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1163,
                    "udi": "umb://media/7ce3e8c0c4ff41608089726e27cf5ac6",
                    "image": "/media/1032/real-eagle-logo.jpg",
                    "caption": "Are you there?"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6620ffa3-d610-7b42-a862-d9437e409716"
        }
      ]
    }
  ]
}]]></bodyText>
      <umbracoNavihide>0</umbracoNavihide>
      <howManyPostsShouldBeShown><![CDATA[6]]></howManyPostsShouldBeShown>
    </blog>
  </home>
</root>